.StatusEmpty {
  background-color: pink;
}
.StatusWarn {
  background-color: yellow;
}
.StatusBad {
  background-color: red;
}
.StatusGood {
  background-color: #00cc00;
}
.StatusScan {
  background-color: cyan;
}

.DIN {
  width: 50px;
}

label {
	font-size: 11px;
  font-family: tahoma,arial;
  width:100px;
  display: inline-block;
}

label.required
{
  color: red;
  font-style: italic;
}
